<mat-drawer-container class="example-container">
  <!-- Drawer lateral -->
  <mat-drawer
    #drawer
    [mode]="drawerMode"
    [opened]="drawerOpened"
    class="side-drawer"
  >
    <div class="drawer-content">
      <div>
        <picture>
          <img src="gifcaracters.webp" alt="rickAndMorty">
        </picture>
      </div>
      <div>
        <p>
          La API de Rick and Morty proporciona información detallada sobre los personajes, ubicaciones y episodios de la famosa serie animada. En esta aplicación, se utiliza la API para mostrar una tabla con los personajes, incluyendo su nombre, especie, género y estado. 
        </p>
        <br>
        <p>          <strong>Instrucción:</strong> haz clic en cualquiera de los elementos de la tabla para expandirlo y ver información adicional sobre el personaje seleccionado.</p>
      </div>
    </div>
  </mat-drawer>

  <!-- Contenido principal -->
  <mat-drawer-content>
    <button
      mat-icon-button
      class="menu-button"
      (click)="drawer.toggle()"
      *ngIf="isMobile"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <app-infotable></app-infotable>
  </mat-drawer-content>
</mat-drawer-container>
