<div class="tableContainer">
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content
      >Main content
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState.set(true)"
          (closed)="panelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Self aware panel </mat-panel-title>
            <mat-panel-description>
              Currently I am {{ panelOpenState() ? "open" : "closed" }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
