<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  
  <p>An app's components typically define many views, arranged hierarchically. Angular provides
  the Router service to help you define navigation paths among views. The router provides
  sophisticated in-browser navigational capabilities.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton mat-dialog-close>Cancel</button>
  <button matButton [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
